@import "tailwindcss";

@font-face {
  font-family: 'HWT Artz';
  src: url('/fonts/HWT-ARTZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-cream: #f5f0e6;
  --color-cream-dark: #ebe5d9;
  --color-red: #c62828;
  --color-red-dark: #8e0000;
  --color-dark: #1a1a1a;
  --color-dark-lighter: #2d2d2d;
  --font-display: 'HWT Artz', serif;
}
