@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'HWT Artz';
  src: url('/fonts/HWT-ARTZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-cream: #FFF5E5;
  --color-red: #DD1111;
  --color-brown: #432900;
  --color-dark: #1a1a1a;
  --font-display: 'HWT Artz', serif;
  --font-body: 'EB Garamond', serif;
}
