@import "tailwindcss";

@font-face {
  font-family: 'HWT Artz';
  src: url('/fonts/HWT-ARTZ.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-cream: #FFF5E5;
  --color-red: #DD1111;
  --color-brown: #432900;
  --color-dark: #1a1a1a;
  --font-display: 'HWT Artz', serif;
  --font-body: 'EB Garamond', serif;
}
