---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContentSection from "../components/ContentSection.astro";
import Gallery from "../components/Gallery.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />

	<!-- Two-column layout on desktop for How It Works + Why Buttons -->
	<div class="bg-cream px-4 pt-4 pb-8 md:pt-6 md:pb-12">
		<div class="max-w-4xl mx-auto grid md:grid-cols-2 gap-12 md:gap-16">
			<ContentSection title="HOW IT WORKS">
				You're a movement doing rad work in your community. I'm a guy
				with a button machine. DM me (<a href="https://www.instagram.com/theloosecollective.nyc/" target="_blank" class="underline text-red">@theloosecollective.nyc</a>) or email me (<a href="mailto:buttons@loosecollective.dev" class="underline text-red">buttons@loosecollective.dev</a>) and tell me what you're about.
				We'll figure out the design and details together. If you're in
				NYC I'll deliver them myself.
			</ContentSection>
			<ContentSection title="WHY BUTTONS?">
				Buttons advertise causes. They invite conversation. Joy is
				disarming. It makes people curious instead of defensive. They're
				fun to make and the supplies fit in a tiny apartment. Everybody
				loves buttons!
			</ContentSection>
		</div>
	</div>

	<Gallery />
	<FAQ />

	<div class="grow"></div>
	<Footer />
</Layout>
