---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <h2 class="font-display text-red text-3xl md:text-4xl mb-4">
    {title}
  </h2>
  <p class="font-body text-brown text-xl leading-loose tracking-wide">
    <slot />
  </p>
</div>
