---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<div class="mb-6">
  <h3 class="font-display text-brown text-xl md:text-2xl mb-2">
    {question}
  </h3>
  <div class="font-body text-brown text-xl leading-loose tracking-wide">
    <slot />
  </div>
</div>
