---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Loose Collective Button Supply" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Free buttons for volunteer organizations in New York City" />
		<title>{title}</title>
	</head>
	<body class="bg-cream min-h-screen flex flex-col">
		<slot />
	</body>
</html>
